<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/main.css">
	<link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css">

	{{!--Font Awesome icons --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
	{{!--Google fonts Icon--}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >

	<!--For Bootstrap datepicker-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
	
	<script src="/public/js/main.js"></script>
	<title>Atrix</title>
</head>
<body>

	{{> navbar}}
	<div class="container">
		{{> flashmsg}}
		{{> msg}}
		{{> error}}
		{{{body}}}
	</div>
	
</body>
<footer><body><main id="body"> 
     
</main> 
<div class="justify-content-center"id="footer"> 
    <section id="cta"> 
        
    <section id="resources"> 
        <h2>Resources</h2> 
        <div id="modules"> 
            <h2>Resources</h2> 
            <div class="module"> 
                <h3>Product</h3> 
                <ul> 
                    <li><a href="/productsPublic">Products</a></li> 
                    <li><a href="/invoice/view">Invoices</a></li> 
                </ul> 
            </div> 
            
            <div class="module"> 
                <h3>Contact</h3> 
                <ul> 
                    <li class="mail"><a href="/feedback">Contact Us</a></li> 
                    <li class="phone"><a href="">+65 67421937</a></li> 
                    <li class="twitter"><a href="">@Atrix</a></li> 
                    <li class="facebook"><a href="">AtrixFB</a></li> 
                </ul> 
            </div> 
            <div class="module"> 
                <h3>Company</h3> 
                <p>ATRIX sells electronics goods and services.</p> 
                <ul> 
                    <li>Geylang, #01-08, 388409</li> 
                    <li>Mon-Sat, 9:30 am to 10:30 pm</li> 
                </ul> 
            </div> 
			<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.764875635735!2d103.87917781557219!3d1.3166686620459196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da183acbc05a49%3A0x5aa15254146920b3!2sAtrix%20Building!5e0!3m2!1sen!2ssg!4v1629210018421!5m2!1sen!2ssg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
        </div> 
    </section> 
    <div id="signature" aria-hidden="true"></div> 
    <footer id="legal"> 
        <p>&copy; 3000 by Atrix. All rights reserved. Please read the <a href="">Privacy Policy</a> and <a href="">Terms of Service</a>.</p> 
    </footer> 
</div> </body>
<style>@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
 
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: #e2e2e2;
    width: 100vw;
    height: 100vh;
    display: flex;
}
 
.card {
    background-color: #ffffff;
    width: calc(100% - 4rem);
    padding: 4rem 2rem;
    border: solid 1px #eaeaea;
    margin: auto;
    border-radius: 2.5rem;
    box-sizing: border-box;
    box-shadow: 0 1rem 2rem rgba(#000000, 0.3);
    h1 {
        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
    }
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
 
.btn {
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    &:last-child {
        margin-right: 0;
    }
}
 
@media screen and (min-width: 960px) {
    .card {
        width: calc(960px - 4rem);
    }
}
 
/******************************************************************************/
/* STYLES RELATED TO EXPERIMENT BUTTONS                                       */
/******************************************************************************/
 
$btn-padding: 0.6rem 0.9rem;
$btn-border-radius: 0.5rem;
$btn-transition-time: 64ms;
 
// The Map for the CSS class of the buttons
$btn-type: (
    "info": (
        "color": #ffffff,
        "background-color": #0091ea
    ),
    "success": (
        "color": #ffffff,
        "background-color": #00c853
    ),
    "warning": (
        "color": #3e2723,
        "background-color": #ffc400
    ),
    "error": (
        "color": #ffffff,
        "background-color": #d50000
    ),
    "dark": (
        "color": #ffffff,
        "background-color": #303030
    )
);
 
.btn {
    --color: #000000;
    --background-color: #d8d8d8;
    --border-color: darken(#d8d8d8, 7.5%);
    color: var(--color);
    font-family: inherit;
    background-color: var(--background-color);
    padding: $btn-padding;
    border: solid 1px var(--border-color);
    outline: none;
    position: relative;
    border-radius: $btn-border-radius;
    user-select: none;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4),
        0 -0.3rem 0.6rem rgba(0, 0, 0, 0.2) inset;
    transition: box-shadow $btn-transition-time ease-out;
    &:after {
        content: "";
        background-color: #ffffff;
        width: 75%;
        height: 12.5%;
        position: absolute;
        top: 0.15rem;
        left: 12.5%;
        border-radius: 50%;
        filter: blur(0.15rem);
        transition: opacity $btn-transition-time ease-out;
    }
    &:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0.4rem 1rem rgba(0, 0, 0, 0.3) inset;
        &:after {
            opacity: 0;
        }
    }
}
 
@each $type, $styles in $btn-type {
    .btn-#{$type} {
        @each $style, $value in $styles {
            --#{$style}: #{$value};
            @if ($style == "background-color") {
                --border-color: #{darken($value, 7.5%)};
            }
            &:active {
                @if ($style == "color") {
                    --#{$style}: #{darken($value, 7.5%)};
                }
            }
        }
    }
}</style>
<style>
/* Simple reset */
html, body, #body *, #footer *{ margin: 0; padding: 0; display: block; color: #3d3d3d; font-family: "Open Sans", sans-serif; font-size: inherit; font-weight: normal; text-decoration: none; line-height: 1; outline: 0; } 
 
/* FontAwesome */
    @font-face{ font-family: "FontAwesome"; src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0"); src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; } 
 
/* Queries */
    /* Min */
    @media (min-width: 0){ 
        html{ font-size: 50%;  } 
            body{ min-width: 200px; background: #f0f0ef; } 
                #body{  } 
                    #page{ padding: 4em; background: #fff; } 
                        #page > h2{ color: #444; font-size: 1.25em; font-weight: 600; text-transform: uppercase; } 
                        #page > p{ margin-top: 2em; line-height: 1.25; } 
                #footer{ background: #0413ec; } 
                    
                        #cta > h2{ color: rgb(255, 255, 255); font-size: 2em; font-weight: 600; text-transform: uppercase; text-align: center; } 
                        #cta > p{ margin-top: 1em; color: rgb(255, 255, 255); text-align: center; line-height: 1.25; } 
                        #cta > form{ margin: 0 auto; margin-top: 2em; max-width: 40em; } 
                            #cta > form{ position: relative; } 
                                #cta > form > input[type=text]{ padding: 1em; padding-right: 7em; width: 100%; height: 2em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } 
                                #cta > form > input[type=submit]{ position: absolute; top: 0; right: 0; bottom: 0; padding: 1em; height: 2em; color: #fff; font-weight: 600; background: #fe9909; border: 0; cursor: pointer; } 
                                #cta > form > input[type=submit]:hover{ background: #fdca40; } 
                    #resources{  } 
                        #resources > h2{ display: none; }
                        #modules{ padding: 4em; margin-bottom: -2em; } 
                            #modules > h2{ display: none; } 
                            #modules > .module{  } 
                                #modules > .module > h3{ margin-bottom: 2em; color: #ffffff; font-size: 1.25em; font-weight: 600; text-transform: uppercase; text-align: center; } 
                                #modules > .module > p{ margin-bottom: 2em; color: #ffffff; line-height: 1.25; } 
                                #modules > .module > ul{ margin-bottom: 2em; } 
                                    #modules > .module > ul > li{ color: #f2f0ed; line-height: 1.25; } 
                                        #modules > .module > ul > li > a{ color: #fe9909; line-height: 1.25; } 
                                        #modules > .module > ul > li.mail > a:before{ content: "\f003"; margin: 0 0.5em 0 0; display: inline-block; color: #f9f8f7; font-family: "FontAwesome"; text-align: center; } 
                                        #modules > .module > ul > li.phone > a:before{ content: "\f095"; margin: 0 0.5em 0 0; display: inline-block; color: #f9f8f7; font-family: "FontAwesome"; text-align: center; } 
                                        #modules > .module > ul > li.facebook > a:before{ content: "\f09a"; margin: 0 0.5em 0 0; display: inline-block; color: #f9f8f7; font-family: "FontAwesome"; text-align: center; } 
                                        #modules > .module > ul > li.twitter > a:before{ content: "\f099"; margin: 0 0.5em 0 0; display: inline-block; color: #f9f8f7; font-family: "FontAwesome"; text-align: center; } 
                                        #modules > .module > ul > li > a:hover{ color: #fdca40; } 
                    #signature{  } 
                    #legal{ padding: 2em 4em; background: #ffffff; } 
                        #legal > p{ font-size: 0.75em; text-align: center; } 
                            #legal > p > a{ display: inline; color: #fe9909; line-height: 0.25; text-decoration: underline; } 
                            #legal > p > a:hover{ color: #fdca40; } 
    }
    /* Bricks */
    @media (min-width: 200px){ 
        html{ font-size: 4vw; } 
            body{  } 
    } 
    /* Smartphones */
    @media (min-width: 300px){ 
        html{  } 
            body{  } 
    } 
    /* Retina */
    @media (min-width: 479px){ 
        html{ font-size: 120%; } 
            body{  } 
    } 
    /* Tablet */
    @media (min-width: 768px){ 
        html{  } 
            body{  } 
                #body{  } 
                    #resources{  } 
                        #modules{ overflow: hidden; } 
                            #modules > .module{ float: left; width: 50%; } 
                                #modules > .module > h3{ text-align: left; } 
                                #modules > .module:nth-child(odd) > h3{ text-align: right; } 
                                #modules > .module > p{  }  
                                #modules > .module:nth-child(odd) > p{ text-align: right; } 
                                #modules > .module > ul{  } 
                                    #modules > .module > ul > li{  } 
                                    #modules > .module:nth-child(odd) > ul > li{ text-align: right; } 
                                        #modules > .module > ul > li > a{  } 
    } 
    /* Desktop */
    @media (min-width: 979px){ 
        html{  } 
            body{  } 
                #body{  } 
                    #resources{  } 
                        #modules{  } 
                            #modules > .module{ width: 25%; } 
                                #modules > .module > h3{ text-align: left; } 
                                #modules > .module:nth-child(odd) > h3{ text-align: left; } 
                                #modules > .module > p{  } 
                                #modules > .module:nth-child(odd) > p{ text-align: left; } 
                                #modules > .module > ul{  } 
                                    #modules > .module > ul > li{  } 
                                    #modules > .module:nth-child(odd) > ul > li{ text-align: left; } 
                                        #modules > .module > ul > li > a{  } 
    } 
    /* Widescreen */
    @media (min-width: 1800px){ 
        html{ font-size: 1.067vw; } 
            body{  } 
    } 
    /* Max */
    @media (min-width: 2800px){ 
        html{ font-size: 186.7%; } 
            body{  } 
    } 
</style>
<script>
/* Pre-document load */
    /* Preload */
    $("body").addClass("js"); 
 
/* Post-document load */
    $(document).ready(function(){ 
        /* Events */
            $("#header").append("<div id='hamburger'>Menu</div>"); 
            $("#hamburger").click(function(event){ 
                $("#hamburger").toggleClass("active"); 
                $("#navigation").toggleClass("active"); 
                $("#close").toggleClass("active"); 
                event.preventDefault(); 
            }); 
            $("body").append("<div id='close'>Close</div>"); 
            $("#close").click(function(event){ 
                $("#hamburger").removeClass("active"); 
                $("#navigation").removeClass("active"); 
                $("#close").removeClass("active"); 
                event.preventDefault(); 
            }); 
            $("#page > ul > li > a").click(function(event){ 
                $("#splash").toggle(); 
                event.preventDefault(); 
            }); 
    }); 
</script></footer>
</html>