<div class="jumbotron text-center">
    <br/><br/><br/>
    <h2>Thank You for purchasing from us!</h2>
    <p class="lead">We hope to see you again.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/home" role="button">Continue to homepage</a>
    </p>
    <br/><br/><br/>
</div>