<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead"> Online Shopping platform</p>
		<img src="public/img/laptops11.jpg" alt="laptop" width="380"height ="300"> 
		<img src="public/img/appliances.jpg" alt="laptop" width="380"height ="300" style="="float:left"> 
	</div>

	<br>
	
</div>


