<!DOCTYPE html>
<!DOCTYPE html>
<html>
<body>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each suppliers}}
        <tr>
          <td>{{suppliers.name}}</td>
          <td>{{suppliers.address}}</td>
          <td>{{suppliers.email}}</td>
        </tr>
      {{/each}}
  </tbody>
</table>
<a href="create" class="button">Create Supplier</a>
<a href="update" class="button">Update Supplier</a></td>
<a href="delete" class="button">Delete Supplier</a></td>
</body>
</html>
