<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="../public/css/invoice.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 id="title">Invoices</h1>
    <table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Age</th>
    </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<a href="createinvoice" class="button">Create Invoice</a>
</body>
</html>